@import url('https://fonts.googleapis.com/css?family=Inter:500,700.css');

#app-root-2026-palestine_report .app {
  background-color: #f2f8fc;
  border-bottom: 6px solid var(--un-color-blue);
  box-sizing: border-box;
  font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: auto auto;
  padding: 20px;
  max-width: 700px;
  .images_container {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
    .image_container {
      max-width: 300px;
      h4 {
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
  }
}
